@mixin font($fname, $fstyle, $fweight, $furl) {
    @font-face {
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        src: local($fname), url($furl) format('truetype');
    }
}

@include font('Migra', normal, 200, '../fonts/Migra-Extralight.ttf');
@include font('Migra', normal, 800, '../fonts/Migra-Extrabold.ttf');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');